-
  const incredibleItems = [{
          title: 'Розвинена інфраструктура',
          number: '01',
          text: "На території комплексу передбачені всі необхідні об’єкти для комфортного життя – від медичних установ до банківських відділень та поштових сервісів",
          type: "small dark"
      },
      {
          title: 'Краєвиди',
          number: '02',
          text: "Апартаменти з панорамними вікнами відкривають мальовничі краєвиди на річку та навколишній ландшафт",
          type: "medium",
          decor: `
          <svg width="385" height="102" viewBox="0 0 385 102" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.74816 65.9488C30.1891 49.8694 54.3404 39.8644 77.7814 35.9339C120.046 29.1448 150.946 47.0108 183.976 65.5915C218.782 85.6015 258.561 108.47 313.256 99.537C335.987 95.9638 355.521 87.7454 372.924 74.8819L385 67.0208V27.0009L354.101 47.0108L353.035 47.7255C339.894 57.3731 325.332 63.4476 307.929 66.3062C264.954 73.0952 233.699 55.2292 200.669 36.2912C165.863 16.2812 126.794 -6.22996 72.4539 2.34574C47.9474 6.27627 23.7961 15.5666 0 29.8594V70.2367L6.393 66.3062L6.74816 65.9488Z" fill="white"/>
          </svg>`
      },
      {
          title: 'Енергоефективні рішення',
          number: '03',
          text: "Комплекс обладнаний системами, що дозволяють значно знизити енергоспоживання та витрати на комунальні послуги (наприклад, сучасні віконні системи та утеплення фасадів)",
          type: "small dark"
      },
      {
          title: 'Облаштована набережна',
          number: '04',
          text: "На березі річки створено ексклюзивну набережну з розкішними ландшафтними рішеннями, що включають фонтани, артінсталяції та спеціально облаштовані місця для відпочинку. Набережна є ідеальним місцем для прогулянок, занять спортом або просто насолоди красою природи. Окрім того, тут розташовані зони для пікніків, барбекю та риболовлі, що додає ще більше варіантів для активного відпочинку",
          type: "medium"
      },
      {
          title: 'Ресторани та кав’ярні',
          number: '05',
          text: "На території ЖК будуть представлені заклади різного формату – від кав’ярень до ресторанів високої кухні, що забезпечить різноманіття гастрономічних можливостей",
          type: "light"
      },
      {
          title: 'Велика кількість зон для відпочинку',
          number: '06',
          text: "Крім прогулянкових алей та парків, комплекс пропонує зони для пікніків, місця для риболовлі та спеціально відведені зони для гри в шахи або настільний теніс",
          type: "light",
          decor: `
          <svg width="385" height="114" viewBox="0 0 385 114" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M58.2472 43.9575L127.149 113.278L196.407 43.9575L265.309 113.278L334.566 43.9575L384.645 94.3397V51.4612L334.566 0.72168L265.309 70.3992L196.407 0.72168L127.149 70.3992L58.2472 0.72168L0 59.3223V102.558L58.2472 43.9575Z" fill="#EFF3F7"/>
          </svg>
          `
      },
      {
          title: 'Кінопокази просто неба',
          number: '07',
          text: "Мешканці зможуть насолодитися улюбленими фільмами в затишній атмосфері в оточенні природи",
          type: "dark"
      },
      {
          title: 'Різноманітність планувань',
          number: '08',
          text: "RIVERVILLE, ЖК пропонує великий вибір квартир – як-от апартаменти з терасами чи пентхауси",
          type: "dark",
          decor: `
          <svg width="385" height="30" viewBox="0 0 385 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M385 0H0V30H385V0Z" fill="white"/>
          </svg>`
      },
      {
          title: 'Високий рівень приватності',
          number: '09',
          text: "Мінімальна щільність забудови та розумне зонування простору, що забезпечує спокій та відокремленість від сусідів",
          type: "medium",
          decor: `
            <svg width="385" height="102" viewBox="0 0 385 102" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.74816 65.9488C30.1891 49.8694 54.3404 39.8644 77.7814 35.9339C120.046 29.1448 150.946 47.0108 183.976 65.5915C218.782 85.6015 258.561 108.47 313.256 99.537C335.987 95.9638 355.521 87.7454 372.924 74.8819L385 67.0208V27.0009L354.101 47.0108L353.035 47.7255C339.894 57.3731 325.332 63.4476 307.929 66.3062C264.954 73.0952 233.699 55.2292 200.669 36.2912C165.863 16.2812 126.794 -6.22996 72.4539 2.34574C47.9474 6.27627 23.7961 15.5666 0 29.8594V70.2367L6.393 66.3062L6.74816 65.9488Z" fill="white"/>
            </svg>
          `
      },
      {
          title: 'Доступність',
          number: '10',
          text: "Інфраструктура пристосована для людей з обмеженими можливостями (ліфти з широкими дверима, пандуси та спеціально облаштовані місця для паркування)",
          type: "medium"
      },
      {
          title: 'Власний торгово-розважальний центр',
          number: '11',
          text: "Забудовник подбав про ТРЦ з різноманітними магазинами, бутиками, а також кінотеатром, що дає можливість мешканцям насолоджуватись прем'єрами без необхідності покидати територію комплексу. Також передбачено фудкорт",
          type: "light"
      },
      {
          title: 'Система кондиціонування та вентиляції',
          number: '12',
          text: "Підтримка комфортного мікроклімату в будь-який час року завдяки системам, які забезпечують постійну циркуляцію свіжого повітря і зручну температуру",
          type: "light"
      },
      {
          title: 'Спортивно-оздоровчий комплекс',
          number: '13',
          text: "Сучасний фітнес-центр з залами для йоги та групових занять, СПА-салоном, сауною та масажними кабінетами забезпечить повноцінний відпочинок і підтримку здорового способу життя",
          type: "dark",
          decor: `
            <svg width="385" height="114" viewBox="0 0 385 114" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M58.2472 43.9575L127.149 113.278L196.407 43.9575L265.309 113.278L334.566 43.9575L384.645 94.3397V51.4612L334.566 0.72168L265.309 70.3992L196.407 0.72168L127.149 70.3992L58.2472 0.72168L0 59.3223V102.558L58.2472 43.9575Z" fill="white"/>
            </svg>`
      },
      {
          title: 'Розвинена транспортна інфраструктура',
          number: '14',
          text: "RIVERVILLE, ЖК розташований у місці з відмінним транспортним сполученням, що дозволяє швидко дістатися до будь-якої частини міста як на громадському, так і на приватному транспорті",
          type: "dark",
          decor: `
            <svg width="385" height="30" viewBox="0 0 385 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M385 0H0V30H385V0Z" fill="white"/>
            </svg>
          `
      },
      {
          title: 'Екологічна свідомість',
          number: '15',
          text: "На території комплексу передбачені зони для сортування сміття, зарядні станції для електромобілів, а також забудовник використовує екологічно чисті матеріали, що знижує вплив на довкілля",
          type: "medium"
      },
      {
          title: 'Ексклюзивні архітектурні рішення',
          number: '16',
          text: "Унікальні дизайнерські елементи, які підкреслюють престижність комплексу",
          type: "medium",
          decor: `
            <svg width="385" height="102" viewBox="0 0 385 102" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.74816 65.9488C30.1891 49.8694 54.3404 39.8644 77.7814 35.9339C120.046 29.1448 150.946 47.0108 183.976 65.5915C218.782 85.6015 258.561 108.47 313.256 99.537C335.987 95.9638 355.521 87.7454 372.924 74.8819L385 67.0208V27.0009L354.101 47.0108L353.035 47.7255C339.894 57.3731 325.332 63.4476 307.929 66.3062C264.954 73.0952 233.699 55.2292 200.669 36.2912C165.863 16.2812 126.794 -6.22996 72.4539 2.34574C47.9474 6.27627 23.7961 15.5666 0 29.8594V70.2367L6.393 66.3062L6.74816 65.9488Z" fill="white"/>
            </svg>`
      },
      {
          title: 'Комфортне середовище для дітей',
          number: '17',
          text: "На території комплексу розташований дитячий садок, школа та ігрові кімнати, створені з урахуванням потреб найменших мешканців",
          type: "light"
      },
      {
          title: 'Централізована система управління',
          number: '18',
          text: "Весь комплекс управляється єдиною службою, яка відповідає за технічне обслуговування, безпеку, чистоту та комфорт мешканців",
          type: "light"
      },
      {
          title: 'Високий рівень звукоізоляції',
          number: '19',
          text: "Спеціальні конструкції стін та підлог забезпечують мінімальний рівень шуму між квартирами, що додає комфорту та приватності кожному мешканцю",
          type: "dark",
          decor: `
            <svg width="385" height="114" viewBox="0 0 385 114" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M58.2472 43.9575L127.149 113.278L196.407 43.9575L265.309 113.278L334.566 43.9575L384.645 94.3397V51.4612L334.566 0.72168L265.309 70.3992L196.407 0.72168L127.149 70.3992L58.2472 0.72168L0 59.3223V102.558L58.2472 43.9575Z" fill="white"/>
            </svg>
          `
      },
      {
          title: 'Розширені спортивні можливості',
          number: '20',
          text: "На території комплексу розташовані тренажерні зали, тенісні корти, баскетбольні майданчики, а також спеціальні зали для занять йогою та фітнесом",
          type: "dark"
      },
      {
          title: 'Мультифункціональні приміщення',
          number: '21',
          text: "Жителі комплексу матимуть доступ до конференц-залів, коворкінгів та бібліотек, що робить RIVERVILLE ідеальним місцем як для проживання, так і для роботи",
          type: "medium",
          decor: `
            <svg width="385" height="102" viewBox="0 0 385 102" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.74816 65.9488C30.1891 49.8694 54.3404 39.8644 77.7814 35.9339C120.046 29.1448 150.946 47.0108 183.976 65.5915C218.782 85.6015 258.561 108.47 313.256 99.537C335.987 95.9638 355.521 87.7454 372.924 74.8819L385 67.0208V27.0009L354.101 47.0108L353.035 47.7255C339.894 57.3731 325.332 63.4476 307.929 66.3062C264.954 73.0952 233.699 55.2292 200.669 36.2912C165.863 16.2812 126.794 -6.22996 72.4539 2.34574C47.9474 6.27627 23.7961 15.5666 0 29.8594V70.2367L6.393 66.3062L6.74816 65.9488Z" fill="white"/>
            </svg>
          `
      },
      {
          title: 'Гнучкі умови придбання квартир',
          number: '22',
          text: "Спеціальні фінансові програми для покупців, що дозволяють інвестувати в нерухомість на вигідних умовах",
          type: "medium"
      },
      {
          title: 'Обслуговування преміум класу',
          number: '23',
          text: "Персоналізовані послуги консьєрж-сервісу, що доступні 24/7 для вирішення будь-яких потреб мешканців",
          type: "light"
      },
      {
          title: 'Сучасні інженерні мережі',
          number: '24',
          text: "Використання інноваційних технологій у системах водопостачання, каналізації та вентиляції, що гарантує надійність та безперебійність їхньої роботи",
          type: "light",
          decor: `
            <svg width="385" height="30" viewBox="0 0 385 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M385 0H0V30H385V0Z" fill="#EFF3F7"/>
            </svg>
          `
      },
      ]

.home-incredible-block
  each val in incredibleItems
    -
      const className = `home-incredible-block__item ${val.type}`;
    div(class=className)
      .home-incredible-block__item-title.text-style-1920-links 
        span #{val.title} 
        span #{val.number}
      .home-incredible-block__item-decor 
        != val.decor ? val.decor : ''
      .home-incredible-block__item-text.text-style-1920-body #{val.text}